{{>layout/header}}

<link rel="stylesheet" href="/css/hot-place.css">
<div class="main__container">
    <section>
        <div class="hotplace__box">
            <div class="sec__title">
                <div>
                    <h1>대한민국 핫플! </h1>
                </div>
                <br>
                <div>
                    <h6> 사용자 활동 데이터 기반의<br>
                        지역별 인기 여행지와 맛집을 확인해보세요!</h6>
                </div>
            </div>
            <hr>
            <div class="hot__place__box">

                <div class="hot__place">
                    <span class="hotpl">인기여행지</span>
                </div>

                <span>|</span>

                <div class="hot__food">
                    <span class="hotf">인기맛집</span>
                </div>
            </div>



        <!-- 모달창 시작-->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="modal__area">서울</h2>
                <div class="area-selection" id="area-selection">
                    <!-- 버튼들이 여기에 동적으로 생성됨 -->
                </div>
                <button id="searchBtn" class="search-btn">검색</button>
            </div>
        </div>
        <!-- 모달창 끝-->

    
        <div class="icon__box">

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">서울</div>
                <input type="hidden" class="area-code" name="area" value="1">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">인천</div>
                <input type="hidden" class="area-code" name="area" value="2">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">대전</div>
                <input type="hidden" class="area-code" name="area" value="3">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">대구</div>
                <input type="hidden" class="area-code" name="area" value="4">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">광주</div>
                <input type="hidden" class="area-code" name="area" value="5">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">부산</div>
                <input type="hidden" class="area-code" name="area" value="6">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">울산</div>
                <input type="hidden" class="area-code" name="area" value="7">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">세종</div>
                <input type="hidden" class="area-code" name="area" value="8">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">경기</div>
                <input type="hidden" class="area-code" name="area" value="31">
            </div>


            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">강원</div>
                <input type="hidden" class="area-code" name="area" value="32">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">충북</div>
                <input type="hidden" class="area-code" name="area" value="33">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">충남</div>
                <input type="hidden" class="area-code" name="area" value="34">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">경북</div>
                <input type="hidden" class="area-code" name="area" value="35">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">경남</div>
                <input type="hidden" class="area-code" name="area" value="36">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">전북</div>
                <input type="hidden" class="area-code" name="area" value="37">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">전남</div>
                <input type="hidden" class="area-code" name="area" value="38">
            </div>

            <div class="icon open__modal">
                <div class="icon__img__box"><img src="/images/icon1.png">
                </div>
                <div class="hotplace__name">제주</div>
                <input type="hidden" class="area-code" name="area" value="39">
            </div>


        </div>


    </section>

    <section>
        <div class="hotplace__rec__info__box">
            <div class="rec__text">인기 여행지</div>

            <div class="rec__place__box">


                <div class="hot__place__card__box">



                    <!--       hot place card 반복 시작 끝    -->
                    {{#models}}

                        <div class="hot__place__card">

                            <a href="/get-info/{{contentId}}">
                                <div class="hot__place__img__box">
                                    <img src="{{firstImage}}" class="active" alt="이미지 1">
                                    <img src="{{firstImage}}" alt="이미지 2">

                                </div>
                            </a>

                            <button class="like-btn" onclick="toggleLike(this)">
                                <svg id="like-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                            <div class="dots">
                                <button class="active" onclick="showSlide(0, this)"></button>
                                <button onclick="showSlide(1, this)"></button>
                            </div>

                            <div class="hot__place__description">
                                <p class="hot__place__name">{{title}}</p>
                                <p class="hot__place__location">{{addr1}}</p>
                            </div>
                        </div>


                    {{/models}}
                    <!--       hot place card 반복 삭제 끝    -->


                </div>


                <div class="page__box">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">&gt;</a></li>
                    </ul>

                </div>

            </div>

        </div>

    </section>

</div>


<script src="/js/hot-place.js"></script>




{{>layout/footer}}