    {{>layout/header}}

    <link rel="stylesheet" href="/css/region.css">
    <div class="main__container">
        <section>
            <div class="region__box">
                <div class="sec__title">
                    <h2>대한민국 구석구석 지역정보<br> 어디까지 알고 있니?</h2>
                </div>
                <div class="icon__box">

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">서울</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">인천</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">대전</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">대구</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">광주</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">부산</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">울산</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">경기</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">강원</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">충북</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">충남</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">경북</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">경남</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">전북</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">전남</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">제주</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="icon">
                            <div class="icon__img__box"><img src="/images/icon1.png">
                            </div>
                            <div class="region__name">세종</div>
                        </div>
                    </a>

                </div>
        </section>
        <section>
            <div class="region__info__box">
                <div class="region__link__box">
                    <div class="region__link">
                        <h4>지역링크☞</h4>
                    </div>
                    <div>
                        내위치
                    </div>

                </div>
                <div class="region__card__box">

                    <div class="region__card">
                        <div class="region__card__subject">
                            주제
                        </div>
                        <div class="region__card__title__box">
                            <div class="region__card_title">
                                타이틀
                            </div>
                            <div class="region__card_description">
                                설명
                            </div>

                        </div>
                        <div class="region__card__link"><a href="#">자세히보기</a></div>
                    </div>

                    <div class="region__card">
                        <div class="region__card__subject">
                            주제
                        </div>
                        <div class="region__card__title__box">
                            <div class="region__card_title">
                                타이틀
                            </div>
                            <div class="region__card_description">
                                설명
                            </div>

                        </div>
                        <div class="region__card__link"><a href="#">자세히보기</a></div>

                    </div>
                    <div class="region__card">
                        <div class="region__card__subject">
                            주제
                        </div>
                        <div class="region__card__title__box">
                            <div class="region__card_title">
                                타이틀
                            </div>
                            <div class="region__card_description">
                                설명
                            </div>

                        </div>
                        <div class="region__card__link"><a href="#">자세히보기</a></div>
                    </div>


                </div>
                <div class="region__culture__box">
                    <div class="culture__link">
                        <span>지역</span>문화관광 홈페이지
                    </div>
                    <div class="sub__region__box">
                        <div class="sub_region"><a href="#">남구</a></div>
                        <div class="sub_region"><a href="#">강서구</a></div>
                        <div class="sub_region"><a href="#">부산진구</a></div>
                    </div>

                </div>

            </div>
        </section>
        <section>
            <div class="region__rec__info__box">
                <div class="rec__text">우리 지역 핫플이 궁금해?</div>

                <div class="rec__place__box">
                    <div class="rec__place__link__box">
                        <div class="rec__place__text"><span>부산</span> 추천 여행지</div>
                        <div class="rec__place__link"><a href="#">+</a></div>
                    </div>

                    <div class="rec__place__card__box">

                        <a href="#">
                            <div class="rec__place__card">
                                <div class="rec__place__img__box">
                                    <img src="/images/img1.jpg">
                                </div>
                                <div class="rec__place__name">유엔기념공원</div>
                                <div class="rec__place__loaction">부산광역시 남구</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rec__place__card">
                                <div class="rec__place__img__box">
                                    <img src="/images/img1.jpg">
                                </div>
                                <div class="rec__place__name">유엔기념공원</div>
                                <div class="rec__place__loaction">부산광역시 남구</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rec__place__card">
                                <div class="rec__place__img__box">
                                    <img src="/images/img1.jpg">
                                </div>
                                <div class="rec__place__name">유엔기념공원</div>
                                <div class="rec__place__loaction">부산광역시 남구</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rec__place__card">
                                <div class="rec__place__img__box">
                                    <img src="/images/img1.jpg">
                                </div>
                                <div class="rec__place__name">유엔기념공원</div>
                                <div class="rec__place__loaction">부산광역시 남구</div>
                            </div>
                        </a>

                    </div>




                </div>

                <div class="rec__food__box">
                    <div class="rec__food__link__box">
                        <div class="rec__food__text"><span>부산</span> 추천 맛집</div>
                        <div class="rec__place__link"><a href="#">+</a></div>
                    </div>

                    <div class="rec__food__card__box">

                        <a href="#">
                            <div class="rec__food__card">
                                <div class="rec__food__img__box">
                                    <img src="/images/img2.jpg">
                                </div>
                                <div class="rec__food__name">못난이식당기장점</div>
                                <div class="rec__food__loaction">부산광역시 기장군</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rec__food__card">
                                <div class="rec__food__img__box">
                                    <img src="/images/img2.jpg">
                                </div>
                                <div class="rec__food__name">못난이식당기장점</div>
                                <div class="rec__food__loaction">부산광역시 기장군</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class=" rec__food__card">
                                <div class="rec__food__img__box">
                                    <img src="/images/img2.jpg">
                                </div>
                                <div class="rec__food__name">못난이식당기장점</div>
                                <div class="rec__food__loaction">부산광역시 기장군</div>
                            </div>
                        </a>

                        <a href="#">
                            <div class="rec__food__card">
                                <div class="rec__food__img__box">
                                    <img src="/images/img2.jpg">
                                </div>
                                <div class="rec__food__name">못난이식당기장점</div>
                                <div class="rec__food__loaction">부산광역시 기장군</div>
                            </div>
                        </a>


                    </div>
                </div>


            </div>


        </section>
        <section>

            <div class="region__festival__info__box">
                <div class="region__festival__info__text">
                    <h3><strong>부산</strong>축제·행사 어디까지 가봤니?</h3>
                </div>
                <div class="festival__calendar__box">
                    <!-- 달력 시작-->
                    <div class="calendar-container">
                        <div class="calendar-header">
                            <span class="year"></span>
                            <button class="prev">&#8249;</button>
                            <div class="calendar-dates"></div>
                            <button class="next">&#8250;</button>
                        </div>
                    </div>
                    <!-- 달력 종료-->
                </div>

                <div class="festival__card__box">

                    <div class="festival__card">
                        <div class="festival__img__box">
                            <img src="/images/img3.jpg">
                        </div>
                        <div class="festival__info__box">
                            <h5>부산국제매직페스티벌</h5>
                            <h6>부산 남구</h6>
                            <h5>2024.3.23. ~ 2024.12.15.</h5>
                            <div class="festival__link__box">
                                <div class="festival__link">
                                    <div><a href="#">바로가기</a></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="festival__card">
                        <div class="festival__img__box">
                            <img src="/images/img3.jpg">
                        </div>
                        <div class="festival__info__box">
                            <h5>부산국제매직페스티벌</h5>
                            <h6>부산 남구</h6>
                            <h5>2024.3.23. ~ 2024.12.15.</h5>
                            <div class="festival__link__box">
                                <div class="festival__link">
                                    <div><a href="#">바로가기</a></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="festival__card">
                        <div class="festival__img__box">
                            <img src="/images/img3.jpg">
                        </div>
                        <div class="festival__info__box">
                            <h5>부산국제매직페스티벌</h5>
                            <h6>부산 남구</h6>
                            <h5>2024.3.23. ~ 2024.12.15.</h5>
                            <div class="festival__link__box">
                                <div class="festival__link">
                                    <div><a href="#">바로가기</a></div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <div class="fistival__page__link__box">
                    <a href="#">
                        <div class="festival__page__link">
                            축제 페이지 바로가기 >
                        </div>
                    </a>
                </div>
            </div>

        </section>










    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userImg = document.querySelector('.user__img');
            const dropdownMenu = document.querySelector('.dropdown__menu');

            userImg.addEventListener('click', function () {
                // Toggle the dropdown menu visibility
                dropdownMenu.classList.toggle('show');
            });

            // Close the dropdown if clicking outside of it
            document.addEventListener('click', function (event) {
                if (!userImg.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.remove('show');
                }
            });
        });


        //달력 스크립트 시작
        document.addEventListener('DOMContentLoaded', function () {
            const calendarDatesContainer = document.querySelector('.calendar-dates');
            const yearDisplay = document.querySelector('.year');
            const prevButton = document.querySelector('.prev');
            const nextButton = document.querySelector('.next');

            let currentDate = new Date(); // 오늘 날짜로 시작
            let selectedDate = new Date(currentDate); // 현재 선택된 날짜 초기화

            function updateCalendar() {
                calendarDatesContainer.innerHTML = ''; // 기존 날짜 초기화
                const startDate = new Date(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate() - 7); // 기준 날짜의 1주일 전부터 표시
                const endDate = new Date(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate() + 7); // 기준 날짜의 1주일 후까지 표시

                yearDisplay.textContent = `${selectedDate.getFullYear()}.${selectedDate.getMonth() + 1}`; // 연도 및 월 표시

                for (let i = startDate; i <= endDate; i.setDate(i.getDate() + 1)) {
                    const date = new Date(i); // 각 날짜에 대해 새로운 Date 객체 생성
                    const dateItem = document.createElement('div');
                    dateItem.classList.add('date-item');

                    const dateSpan = document.createElement('span');
                    dateSpan.classList.add('date');
                    dateSpan.textContent = String(date.getDate()).padStart(2, '0');

                    const daySpan = document.createElement('span');
                    daySpan.classList.add('day');
                    daySpan.textContent = ['일', '월', '화', '수', '목', '금', '토'][date.getDay()];

                    if (date.getDay() === 0) {
                        dateSpan.classList.add('red');
                        daySpan.classList.add('red');
                    } else if (date.getDay() === 6) {
                        dateSpan.classList.add('blue');
                        daySpan.classList.add('blue');
                    }

                    if (date.toDateString() === selectedDate.toDateString()) {
                        dateItem.classList.add('selected');
                    }

                    dateItem.appendChild(dateSpan);
                    dateItem.appendChild(daySpan);

                    // 날짜 클릭 이벤트 추가
                    dateItem.addEventListener('click', () => {
                        selectedDate = new Date(date); // 클릭한 날짜로 선택
                        updateCalendar();

                        // 선택한 날짜 정보 확인 -> 선택한 년,월,일 정보는 이걸로 사용
                        const selectedYear = selectedDate.getFullYear();
                        const selectedMonth = selectedDate.getMonth() + 1; // getMonth()는 0부터 시작하므로 +1 필요
                        const selectedDay = selectedDate.getDate();

                        console.log(`Selected Date: ${selectedYear}-${selectedMonth}-${selectedDay}`);
                    });

                    calendarDatesContainer.appendChild(dateItem);
                }
            }

            prevButton.addEventListener('click', () => {
                selectedDate.setDate(selectedDate.getDate() - 1);
                updateCalendar();
            });

            nextButton.addEventListener('click', () => {
                selectedDate.setDate(selectedDate.getDate() + 1);
                updateCalendar();
            });

            updateCalendar(); // 초기 달력 로드
        });
    </script>
    {{>layout/footer}}