{{>layout/header}}
<link rel="stylesheet" href="/css/my-page-sidebar-style.css">
<link rel="stylesheet" href="/css/my-board-style.css">
    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">
            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">

                    <div class="content-box">
                        <div>
                            <h4>내가 쓴 글</h4>
                        </div>
                        <div class="myboard__box">
                            <div class=" myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/1.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class=" myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/2.jpg">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/3.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/4.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/5.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/6.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/7.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                            <div class="myboard__card">
                                <div class="icon-box">
                                    <img class="myboard__img" src="/images/8.JPG">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div class="card__title">제목:@@@</div>
                                <div class="card__content">지역:###</div>
                            </div>
                        </div>
                        <div class="paging__box">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">&lt;</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">&gt;</a></li>
                            </ul>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </div>
{{>layout/footer}}