{{>layout/header}}
<link rel="stylesheet" href="/css/my-page-style.css">

    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">
            <!-- Profile Section -->

            <div class="my-activities">
                <h4>나의 활동</h4>
                <div class="activity-grid">
                    <div class="activity-item">
                        <div class="activity-icon">📝</div>
                        <div class="activity-label">내가 쓴 후기</div>
                        <div class="activity-badge">{{model.countReview}}</div>
                    </div>
                    <div class="activity-item">
                        <div class="activity-icon">📓</div>
                        <div class="activity-label">스크랩</div>
                        <div class="activity-badge">{{model.countScrap}}</div>
                    </div>
                </div>
            </div>


            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <!--
                    <div class="content-box">
                        <div class="myWrite__title">
                            <div>
                                <h4>내가 쓴 글</h4>
                            </div>
                            <div onclick="location.href=`/`;">▶</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="/images/1.JPG">
                                </div>
                                <div class="img__detail">여수 반짝이</div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="/images/2.JPG">
                                </div>
                                <div class="img__detail">공주 연못</div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="/images/3.JPG">
                                </div>
                                <div class="img__detail">해운대 해수욕장</div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="/images/4.JPG">
                                </div>
                                <div class="img__detail">광안리 해수욕장</div>
                            </div>
                        </div>
                        <div class="btn__box">
                            <button class="btn btn-success float-right mb-3">글쓰기</button>
                        </div>
                    </div>
                    -->
                    <div class="content-box">
                        <div>
                            <h4>스크랩</h4>
                        </div>
                        <div class="row">

                            {{#model.scrapList}}
                                <div class="col-md-3 text-center hsy2" onclick="location.href=`/info/detail?contentId={{contentId}}`;">
                                    <input type="hidden" value="{{contentId}}">
                                    <input type="hidden" value="{{contentTypeId}}">
                                    <div class="icon-box">
                                        <img src="{{firstImage}}" alt="그림없음">
                                    </div>
                                    <div class="img__detail">{{title}}</div>
                                </div>
                            {{/model.scrapList}}
                            {{^model.scrapList}}
                                <div>스크랩 목록이 비어있습니다</div>
                            {{/model.scrapList}}

                        </div>
                        <div class="btn__box">
                            <button class="btn btn-primary mt-3" onclick="location.href=`/api/my-scrap`;">더보기</button>
                        </div>
                    </div>

                    <div class="content-box">
                        <div>
                            <h4>내가 쓴 후기</h4>
                        </div>
                        <div>
                            <table class="review__box">
                                <tr>
                                    <td class="col-md-2">제목</td>
                                    <td class="col-md-2">지역</td>
                                    <td class="col-md-4">내용</td>
                                    <td class="col-md-2">날짜</td>
                                    <td class="col-md-2">별점</td>
                                </tr>
                                {{#model.reviewList}}
                                    <tr onclick="location.href=`/info/detail?contentId={{contentId}}`;">
                                        <td>{{title}}</td>
                                        <td>{{addr1}}</td>
                                        <td>{{context}}</td>
                                        <td>{{formattedCreatedAt}}</td>
                                        <td>{{{starRating}}}</td>
                                    </tr>
                                {{/model.reviewList}}
                                {{^model.reviewList}}
                                    <td colspan="5" style="text-align: center">리뷰 내역이 없습니다.</td>
                                {{/model.reviewList}}
                            </table>
                        </div>
                        <div class="btn__box">
                            <button class="btn btn-primary mt-3" onclick="location.href=`/api/my-review`;">더보기</button>
                        </div>
                    </div>
                    <!--
                    <div class="content-box">
                        <div>
                            <h4>최근 본 글</h4>
                        </div>
                        <div class="row recent-items">
                            <div class="col-md-3">
                                <img src="/images/9.jpg" alt="최근 본 글 1">
                            </div>
                            <div class="col-md-3">
                                <img src="/images/10.jpg" alt="최근 본 글 2">
                            </div>
                            <div class="col-md-3">
                                <img src="/images/11.jpg" alt="최근 본 글 3">
                            </div>
                            <div class="col-md-3">
                                <img src="/images/12.jpg" alt="최근 본 글 4">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>

<script>
    // 1. 스크랩 버튼을 누르면 scrap의 id를 가지고 update 요청하기
    async function scrapOff(contentId,id){
        let response = await fetch(`/api/my-scrapUpdate/${contentId}`,{
            method : 'post'
        });
        console.log(response);
        if (response.status == 200) {
            let data = document.querySelector(`#scrap__card__${id}`);
            data.style.display = "none";
            alert("스크랩이 취소되었습니다")
        } else {
            alert("오류가 발생했습니다");
        }
    }
    // 2. 성공적으로 완료되면 display:none으로 변경 + alter "스크랩이 취소되었습니다"

</script>

{{>layout/footer}}