{{>layout/header}}
<link rel="stylesheet" href="/css/my-review-style.css">
    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">

            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="content-box">
                        <div>
                            <h4>내가 쓴 후기</h4>
                        </div>
                        <div>
                            <table class="review__box">
                                <tr>
                                    <td class="col-md-2">제목</td>
                                    <td class="col-md-2">지역</td>
                                    <td class="col-md-4">내용</td>
                                    <td class="col-md-2">날짜</td>
                                    <td class="col-md-2">별점</td>
                                </tr>
                                {{#models}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{addr1}}</td>
                                    <td>{{context}}</td>
                                    <td>날짜</td>
                                    <td>{{{starRating}}}</td>
                                </tr>
                                {{/models}}
                                {{^models}}
                                    <td colspan="5" style="text-align: center">리뷰 내역이 없습니다.</td>
                                {{/models}}
                            </table>
                        </div>
                        <div class="btn__box">
                            <button class="btn btn-primary mt-3">더보기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{{>layout/footer}}