{{>layout/header}}
<link rel="stylesheet" href="/css/my-review-style.css">
    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">

            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="content-box">
                        <div>
                            <h4>내가 쓴 후기</h4>
                        </div>
                        <div>
                            <table class="review__box">
                                <tr>
                                    <td>번호</td>
                                    <td>제목</td>
                                    <td>내용</td>
                                    <td>날짜</td>
                                    <td>별점</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>제목:1</td>
                                    <td>내용:1</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>제목:2</td>
                                    <td>내용:2</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>제목:3</td>
                                    <td>내용:3</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>제목:4</td>
                                    <td>내용:4</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>제목:5</td>
                                    <td>내용:5</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>제목:6</td>
                                    <td>내용:6</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>제목:7</td>
                                    <td>내용:7</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>제목:8</td>
                                    <td>내용:8</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>제목:9</td>
                                    <td>내용:9</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>제목:10</td>
                                    <td>내용:10</td>
                                    <td>2024-09-04</td>
                                    <td>★★★★★</td>
                                </tr>
                            </table>
                        </div>
                        <div class="btn__box">
                            <div></div>
                            <div class="paging__box">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">&lt;</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">&gt;</a></li>
                                </ul>

                            </div>
                            <button class="btn btn-primary mt-3">더보기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{{>layout/footer}}