{{>layout/header}}
    <link rel="stylesheet" href="/css/my-scrab-style.css">
    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">
            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">

                    <div class="content-box">
                        <div>
                            <h4>스크랩</h4>
                        </div>
                        <div class="scrab__box">

                            {{#models}}
                            <div class="scrab__card" id="scrap__card__{{id}}">
                                <input type="hidden" value="{{contentContentId}}">
                                <input type="hidden" value="{{contentTypeId}}">
                                <div class="icon-box">
                                    <img class="scrab__img" src="{{firstImage}}" alt="그림없음">
                                    <button onclick="scrapOff({{id}})">
                                    <div class="good" ><img src="/images/heart_on.png"></div>
                                    </button>
                                </div>
                                <div>{{title}}</div>
                                <div>{{addr1}}</div>
                            </div>
                            {{/models}}
                            {{^models}}
                                <div>스크랩 목록이 비어있습니다</div>
                            {{/models}}

                        </div>
                        <div class="paging__box">
                            <div>페이징 <1,2,3,4,5...>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script>
    // 1. 스크랩 버튼을 누르면 scrap의 id를 가지고 update 요청하기
    async function scrapOff(id){
        let response = await fetch(`/api/my-scrapUpdate/${id}`,{
            method : 'post'
        });
        console.log(response);
        if (response.status == 200) {
            let data = document.querySelector(`#scrap__card__${id}`);
            data.style.display = "none";
            alert("스크랩이 취소되었습니다")
        } else {
            alert("오류가 발생했습니다");
        }
    }
    // 2. 성공적으로 완료되면 display:none으로 변경 + alter "스크랩이 취소되었습니다"

</script>

{{>layout/footer}}