{{>layout/header}}
    <link rel="stylesheet" href="/css/my-scrab-style.css">
    <div class="main__container">

        <!--Sidebar Section -->
        {{>layout/sidebar}}

        <div class="container">
            <!-- Content Sections -->
            <div class="row mt-4">
                <div class="col-md-12">

                    <div class="content-box">
                        <div>
                            <h4>스크랩</h4>
                        </div>
                        <div class="scrab__box">
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/11.jpg">
                                    <div class="good"><img src="/images/heart_on.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/6.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/7.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/8.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/9.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/10.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/11.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                            <div class="scrab__card">
                                <div class="icon-box">
                                    <img class="scrab__img" src="/images/12.jpg">
                                    <div class="good"><img src="/images/heart_off.png"></div>
                                </div>
                                <div>제목:@@@</div>
                                <div>지역:###</div>
                            </div>
                        </div>
                        <div class="paging__box">
                            <div>페이징 <1,2,3,4,5...>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

{{>layout/footer}}