<link rel="stylesheet" href="/css/my-page-sidebar-style.css">

    <!--Sidebar Section -->
    <div class="sidebar__container">
        <div class="sidebar__profile">
            <div class="profile-image"></div>
            <div class="profile-name">회원 이름</div>
        </div>
        <hr class="sidebar__hr">
        <div class="sidebar__box">
            <div class="sidebar__box__text" onclick="location.href=`/my-page`;">마이페이지</div>
            <div class="sidebar__box__text" onclick="location.href=`/`;">내가 쓴 글</div>
            <div class="sidebar__box__text" onclick="location.href=`/api/my-scrap`;">스크랩</div>
            <div class="sidebar__box__text" onclick="location.href=`/my-review`;">내가 쓴 후기</div>
            <div class="sidebar__box__text" onclick="location.href=`/`;">최근 본 글</div>
            <div class="sidebar__box__text" onclick="location.href=`/write`;">글 쓰 기</div>
            <div class="sidebar__box__text" onclick="location.href=`/my-info`;">회원 정보 수정</div>
        </div>
    </div>

