{{>layout/header}}
<link rel="stylesheet" href="/css/detail-style.css">
<section class="container">
    <div class="content__title__box">
        <div class="content__title__1">{{model.common.title}}</div>
        <div class="content__title__2">{{model.common.addr1}}</div>
        <div class="content__share__box">
            <div class="share__box__1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
                <span>123</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                     viewBox="0 0 16 16">
                    <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                </svg>
                <span>345</span>
            </div>
            <div class="share__box__2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bookmark scrap__btn" viewBox="0 0 16 16" data-id="{{model.contentId}}">
                    <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                </svg>

            </div>

        </div>
    </div>
    <article>
        <div class="article__title__box">
            <div>사진보기</div>
            <div>상세정보</div>
            <div>여행톡</div>
            <div>추천여행</div>
        </div>
        <div class="article__img__box">
            <img class="article__img__1" src="{{model.common.firstImage}}">
            {{#model.imgs}}
                <img class="article__img__2" src="{{infoName}}">
            {{/model.imgs}}
        </div>

        <div class="article__info__box">
            <div>상세정보</div>
            <div>{{model.common.overview}}
            </div>
            <div id="article__info__map" style="width: 100%; height: 500px; margin-bottom: 40px"></div>
            <div style="display: none" class="map__X">{{model.common.mapX}}</div>
            <div style="display: none" class="map__Y">{{model.common.mapY}}</div>
            <div class="info__grid">
                {{#model.intro.infoCenter}}
                    <div class="info__item">
                        <strong>문의 및 안내</strong>
                        <span>{{model.intro.infoCenter}}</span>
                    </div>
                {{/model.intro.infoCenter}}
                {{#model.intro.restDate}}
                    <div class="info__item">
                        <strong>휴무일</strong>
                        <span>{{model.intro.restDate}}</span>
                    </div>
                {{/model.intro.restDate}}
                {{#model.intro.expAgeRange}}
                    <div class="info__item">
                        <strong>체험 가능 연령</strong>
                        <span>{{model.intro.expAgeRange}}</span>
                    </div>
                {{/model.intro.expAgeRange}}

                {{#model.intro.useTime}}
                    <div class="info__item">
                        <strong>이용시간</strong>
                        <span>{{model.intro.useTime}}</span>
                    </div>
                {{/model.intro.useTime}}
                {{#model.intro.chkBabyCarriage}}
                    <div class="info__item">
                        <strong>유모차 대여</strong>
                        <span>{{model.intro.chkBabyCarriage}}</span>
                    </div>
                {{/model.intro.chkBabyCarriage}}
                {{#model.intro.chkPet}}
                    <div class="info__item">
                        <strong>애완동물 동반</strong>
                        <span>{{model.intro.chkPet}}</span>
                    </div>
                {{/model.intro.chkPet}}
                {{#model.intro.chkCreditCard}}
                    <div class="info__item">
                        <strong>신용카드 사용</strong>
                        <span>{{model.intro.chkCreditCard}}</span>
                    </div>
                {{/model.intro.chkCreditCard}}

                <div class="info__item">
                    {{#model.infos}}
                        <strong>{{infoName}}</strong>
                        <span>{{{infoText}}}</span>
                    {{/model.infos}}
                </div>

            </div>
        </div>
        <div class="article__like">여행지가 마음에 드시나요?
            <div class="like__buttons">
                <button class="like__button">좋아요</button>
                <button class="dislike__button">별로</button>
            </div>
        </div>
    </article>
    <section class="comment__box">
        <div class="comment__title">여행톡 8</div>
        <div class="comment__write">
            <div class="form__group">
                <input type="text" class="form__control" placeholder="댓글을 입력하세요" id="review__context" required>
                <input type="hidden" value="{{model.contentId}}" id="contentId">
                <div class="button__area">
                    <select name="rating" id="review__rating">
                        <option value="0.5">0.5</option>
                        <option value="1.0">1.0</option>
                        <option value="1.5">1.5</option>
                        <option value="2.0">2.0</option>
                        <option value="2.5">2.5</option>
                        <option value="3.0">3.0</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0" selected>5.0</option>
                    </select>
                    <button type="submit" class="btn submit-button review__write">작성</button>
                    <button type="button" class="btn cancel-button">취소</button>
                </div>
            </div>
        </div>

        <!--for-->
        <div class="comment__content">
            <img src="/images/userImg1.png" alt="이미지" class="comment__avatar">
            <div class="comment__wrapper">
                <div class="comment__text">
                    40년 전통의 손맛을 자랑하고 있는 손두부전문점이라 그런지 너무 맛있고 다음에 또 가고싶어여 짱
                    40년 전통의 손맛을 자랑하고 있는 손두부전문점이라 그런지 너무 맛있고 다음에 또 가고싶어여 짱
                    40년 전통의 손맛을 자랑하고 있는 손두부전문점이라 그런지 너무 맛있고 다음에 또 가고싶어여 짱
                    40년 전통의 손맛을 자랑하고 있는 손두부전문점이라 그런지 너무 맛있고 다음에 또 가고싶어여 짱
                    40년 전통의 손맛을 자랑하고 있는 손두부전문점이라 그런지 너무 맛있고 다음에 또 가고싶어여 짱
                </div>
                <div class="comment__footer">
                    <span class="comment__username">아*디 </span>
                    <span class="comment__date">24.05.11</span>
                </div>
                <div class="button__area1">
                    <button type="button" class="btn submit-button">수정</button>
                    <button type="button" class="btn cancel-button">삭제</button>
                </div>
            </div>
        </div>
        <!--for-->


        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">&lt;</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">&gt;</a></li>
        </ul>

    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let mapX = document.querySelector('.map__X').textContent;
            let mapY = document.querySelector('.map__Y').textContent;

            renderMap(mapX, mapY)

            const images = document.querySelectorAll('.article__img__box img.article__img__2');

            images.forEach((img, index) => {
                if (index >= 3) {
                    img.style.display = 'none';  // 네 번째 이후 이미지는 숨기기
                }
            });
        });

        // 지도 렌더링 함수
        function renderMap(mapX, mapY) {
            console.log(mapX);
            console.log(mapY);
            let container = document.getElementById("article__info__map");

            let options = {
                center: new kakao.maps.LatLng(mapY, mapX), //지도의 중심좌표.
                level: 3
            };
            let map = new kakao.maps.Map(container, options);

            // 마커가 표시될 위치입니다
            var markerPosition = new kakao.maps.LatLng(mapY, mapX);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
            // 지도가 보이지 않는 문제 해결을 위한 리사이즈 및 중심 좌표 재설정

        }


        //스크랩 버튼 클릭
        $(".scrap__btn").on("click", function () {
            let contentId = $(".scrap__btn").data("id");
            console.log(contentId);
            $.ajax({
                url: `/api/scrapOnOff/${contentId}`,
                type: 'post',
                success: function (response) {
                    console.log("성공", response);
                    let result = response.body;
                    if (result == 'on') {
                        alert("스크랩에 추가되었습니다.");
                    }
                    if (result == "off") {
                        alert("스크랩이 해제되었습니다.");
                    }
                },
                error: function (error) {
                    location.href = "/login-form";
                }

            });

        });


    </script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c0506e6121b3109708a1cd1662360473"></script>


</section>

<script>
    // 작성 버튼 클릭 이벤트
    document.querySelector('.review__write').addEventListener('click', async function (event) {
        event.preventDefault(); // 페이지 리로드 방지
        // contentId 가져오기
        let contentId = $("#contentId").attr("value");

        // 댓글 입력란에서 값 가져오기
        let context = $("#review__context").val();

        // 선택한 평점 가져오기
        let rating = $("#review__rating option:selected").val();


        // 유효성 검사 (필요시)
        if (!context || rating === "0.0") {
            alert("댓글과 평점을 입력하세요!");
            return;
        }
        console.log(contentId);
        console.log(context);
        console.log(rating);


        // AJAX 요청
        let response = await fetch('/api/review/write', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                contentId: contentId,
                context: context,
                rating: rating
            })
        });
        let data = await response.json();
        if (data.ok) {

            alert('댓글이 성공적으로 작성되었습니다.');
            // 필요한 경우 입력 필드 초기화
            document.getElementById('review__context').value = '';
            document.getElementById('review__rating').value = '5.0'; // 기본 값으로 설정


        } else {
            console.log(data);
            alert('댓글 작성에 실패했습니다. 다시 시도해주세요.');
        }


        /*     .then(response => response.json())
             .then(data => {
                 // 서버 응답 처리
                 if (data.success) {
                     alert('댓글이 성공적으로 작성되었습니다.');
                     // 필요한 경우 입력 필드 초기화
                     document.getElementById('review__context').value = '';
                     document.getElementById('review__rating').value = '0.5'; // 기본 값으로 설정
                 } else {
                     alert('댓글 작성에 실패했습니다. 다시 시도해주세요.');
                 }
             })
             .catch((error) => {
                 console.error('Error:', error);
                 alert('서버 오류가 발생했습니다.');
             });*/
    });
</script>

{{>layout/footer}}