.aaa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;

}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    /* 투명도와 블러 효과로 배경과 자연스럽게 어우러지게 함 */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}


a:hover {
    text-decoration: none;
    color: #0056b3;
}