.main__container {
    width: 80%;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.container {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content-box h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


.btn__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* 테이블 기본 스타일 */
.review__box {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    /* 중복되는 경계선을 하나로 합침 */
    margin: 20px 0;
    /* 테이블 위아래 여백 */
    font-family: Arial, sans-serif;
    /* 폰트 설정 */
}

/* 테이블 헤더 스타일 */
.review__box th {
    background-color: #4CAF50;
    /* 헤더 배경색 */
    color: white;
    /* 헤더 텍스트 색상 */
    padding: 12px 15px;
    /* 셀 내부 여백 */
    text-align: center;
    /* 텍스트 정렬 */
}

/* 테이블 본문 스타일 */
.review__box td {
    padding: 12px 15px;
    /* 셀 내부 여백 */
    border-bottom: 1px solid #ddd;
    /* 셀 아래쪽 경계선 */
    text-align: left;
    /* 텍스트 정렬 */
}

/* 짝수 행 배경색 변경 */
.review__box tr:nth-child(even) {
    background-color: #f2f2f2;
    /* 짝수 행 배경색 */
}

/* 마우스 호버 시 첫 번째 행을 제외한 행의 배경색 변경 */
.review__box tr:not(:first-child):hover {
    background-color: #ddd;
    /* 호버 시 배경색 */
}

/* 테이블 마지막 행의 경계선 없애기 */
.review__box tr:last-child td {
    border-bottom: none;
}