{{>layout/header}}
    <link rel="stylesheet" href="/css/theme.css" >
    <body>
        <div class="div-title">
            <h3>다채로운 즐거움이 가득한 대한민국 구석구석 추천 테마여행!</h3>
        </div>

        <!-- Main Content -->
        <div class="container">
            <div class="row justify-content-center">
                <!-- Theme Card 1 -->
                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://korean.visitkorea.or.kr/localfood/main.do" class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/맛집차트.png" alt="Theme 1">
                        </div>
                        <div class="theme-description">
                            <p>빅데이터 맛집차트</p>
                        </div>
                    </a>
                </div>

                <!-- Theme Card 2 -->
                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://korean.visitkorea.or.kr/travelweekend/index.do" class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/여행주말.jpg" alt="Theme 2">
                        </div>
                        <div class="theme-description">
                            <p>여행이 있는 주말</p>
                        </div>
                    </a>
                </div>

                <!-- Theme Card 3 -->
                <div class="col-md-3 d-flex justify-content-center">
                    <a href="http://worcation.sba.kr/" class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/워케이션.jpg" alt="Theme 3">
                        </div>
                        <div class="theme-description">
                            <p>워케이션</p>
                        </div>
                    </a>
                </div>

                <!-- Theme Card 4 -->
                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://gocamping.or.kr/" class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/고캠핑.jpg" alt="Theme 4">
                        </div>
                        <div class="theme-description">
                            <p>고캠핑</p>
                        </div>
                    </a>
                </div>

                <!-- Add more cards similarly... -->
                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://korean.visitkorea.or.kr/other/otherService.do?otdid=228bfd20-946d-4cc1-9dbf-f5d28de3549e"
                        class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/market.jpg" alt="Theme 5">
                        </div>
                        <div class="theme-description">
                            <p>전통시장 K-관광마켓 10선</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://safestay.visitkorea.or.kr/usr/main/mainSelectList.kto#"
                        class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/세이프스테이.png" alt="Theme 6">
                        </div>
                        <div class="theme-description">
                            <p>세이프스테이</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://korean.visitkorea.or.kr/other/otherService.do?otdid=64e29192-8939-11e8-8165-020027310001"
                        class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/한국관광의별.jpg" alt="Theme 7">
                        </div>
                        <div class="theme-description">
                            <p>한국관광의별</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 d-flex justify-content-center">
                    <a href="https://www.durunubi.kr/" class="theme-card-container">
                        <div class="theme-card">
                            <img src="/images/두루누비.jpg" alt="Theme 8">
                        </div>
                        <div class="theme-description">
                            <p>두루누비</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr class="divider">
        <!-- 추가된 여행지도 섹션 -->
        <div class="container travel-map-container">
            <div>
                <H3><strong>테마가 있는 여행을 즐겨보세요</strong></H3>
            </div>
            <!-- Map Image -->
            <div class="map-image">
                <img src="/images/지도.png" alt="Korea Map" class="img-fluid">
            </div>

            <!-- Travel Recommendations -->
            <div class="travel-recommendations">
                <h4>오늘의 여행을 내일로 미루지 말자!</h4>
                <a href="#">
                    <div class="recommendation-item">
                        <img src="/images/백수해안도로.jpg" alt="백수해안도로">
                        <div>
                            <p>백수해안도로</p>
                            <small>전남 영광군</small>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="recommendation-item">
                        <img src="/images/탄도항누에섬.jpg" alt="탄도항누에섬">
                        <div>
                            <p>탄도항누에섬</p>
                            <small>경기 안산시</small>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="recommendation-item">
                        <img src="/images/세방낙조.jpg" alt="세방낙조 전망대">
                        <div>
                            <p>세방낙조 전망대</p>
                            <small>전남 진도군</small>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="recommendation-item">
                        <img src="/images/선유도.jpg" alt="선유도해수욕장">
                        <div>
                            <p>선유도해수욕장 (명사십리)</p>
                            <small>전북 군산시</small>
                        </div>
                    </div>
                </a>

            </div>
        </div>
{{>layout/footer}}